ul.blog-types{
    list-style-type: none;
    padding-left: 20px;
}

div.blog{
    margin-top: 0.5em;
    margin-bottom: 2em;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #e0e0e0;
}

div.blog div.toc{
    display: none;
}

div.django-ckeditor-widget {
    width: 100%;
}

div#comment{
    padding: 0;
}

div.reply{
    margin-left: 2em;
}

div.blog-content{
    margin: 2em;
}

div.like{
    color: #337ab7;
    cursor: pointer;
    display: inline-block;
    padding: 0.5em 0.3em;
}

div.like .active{
    color: #f22;
}