{% extends 'base.html' %}

{% block title %}
    {{ blog.title }}
{% endblock %}

{% load staticfiles %}
{% block header %}
    <link rel="stylesheet" href="{% static 'blog.css' %}">
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">博客内容展示</div>
            <div class="panel-body">
                <div class="blog">
                    <a href="{%  url 'blog:blog_detail'  blog.pk %}">
                        <h3>{{ blog.title }}</h3>
                    </a>
                    <p class="blog-info glyphicon glyphicon-userglyphicon glyphicon-paperclip">
                        <a href="{% url 'blog:blog_with_type' blog.blog_type.id  %}">{{ blog.blog_type }}</a>
                    </p>
                    <p class="blog-info glyphicon glyphicon-userglyphicon glyphicon-user" aria-hidden="true">{{ blog.author }}</p>
                    <p class="blog-info glyphicon glyphicon-eye-open">({{ blog.get_read_num }})</p>
                    <p class="blog-info glyphicon glyphicon-userglyphicon glyphicon-time">{{ blog.created_time|date:"Y-m-d H:n:s" }}</p>
                    <!--增加safe过滤器,表示不需要转义,直接显示原始内容-->
                    <p>{{ blog.content | safe }} </p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">评论列表</div>
            <div class="panel-body">
                 <div class="comment-list">
                    <ul class="comment-list list-unstyled">
                      {% for comment in blog_comments %}
                        <li class="comment-item">
                        <span class="nickname">{{ comment.username }}</span>
                        <time class="submit-date">{{ comment.created_time }}</time>
                        <div class="text">
                          {{ comment.text|safe }}
                        </div>
                        </li>
                      {% empty %}
                      暂无评论
                      {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">评论</div>
            <div class="panel-body">
                <div class="comment">
                    {% if user.is_authenticated %}
                    <form action="{% url 'comment:blog_comment' %}" method="post" class="comment-form">
                    {% csrf_token %}
                        {{ comment_form }}
                    <button type="submit" class="comment-btn" style="float: right;">提交评论</button>
                    </form>
                    {% else %}
                        <p>请先登录后再评论</p>
                    {% endif %}
                </div>
            </div>
        </div>

        </div>
        <div class="col-md-4 col-lg-4">
            <div class="panel panel-default">
              <div class="panel-heading">博客分类</div>
              <div class="panel-body">
                <ul class="blog-types">
                    {% for blog_type in blog_types %}
                        <li><a href="{% url 'blog:blog_with_type' blog_type.pk %}">{{ blog_type.type_name }}</a></li>
                    {% empty %}
                        <li>暂无分类</li>
                    {% endfor %}
                </ul>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">博客目录结构</div>
              <div class="panel-body">
                  <ul class="blog-types">
                    {{ blog_toc|safe }}
                  </ul>
              </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}




