{% extends 'base.html' %}

{% block title %}
    {{ blog.title }}
{% endblock %}

{% load static %}
{% load comments_count %}
{% load likes_tags %}
{% block header %}
    <link rel="stylesheet" href="{% static 'blog.css' %}">
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">博客内容展示</div>
            <div class="panel-body">
                <div class="blog">
                    <a href="{%  url 'blog:blog_detail'  blog.pk %}">
                        <h3>{{ blog.title }}</h3>
                    </a>
                    <p class="blog-info glyphicon glyphicon-userglyphicon glyphicon-paperclip">
                        <a href="{% url 'blog:blog_with_type' blog.blog_type.id  %}">{{ blog.blog_type }}</a>
                    </p>
                    <p class="blog-info glyphicon glyphicon-userglyphicon glyphicon-user" aria-hidden="true">{{ blog.author }}</p>
                    <p class="blog-info glyphicon glyphicon-eye-open">({{ blog.get_read_num }})</p>
                    <p class="blog-info glyphicon glyphicon-userglyphicon glyphicon-time">{{ blog.created_time|date:"Y-m-d H:i:s" }}</p>
                    <p class="glyphicon glyphicon-pencil">{% comments_count blog %}</p>
                    <!--增加safe过滤器,表示不需要转义,直接显示原始内容-->
                    <div class="blog-content">{{ blog.content | safe }} </div>
                    <div class="like" onclick="likeChange(this, 'blog', {{ blog.pk }})">
                        <span class="glyphicon glyphicon-thumbs-up {% get_likes_status blog %}"></span>
                        <span class="liked-num">{% get_likes_count blog %}</span>
                        <span>喜欢</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">评论列表</div>
            <div class="panel-body">
                 <div class="comment-list">
                    <ul class="comment-list list-unstyled">
                      {% for comment in blog_comments %}
                        <li class="comment-item">
                        <span class="nickname">{{ comment.comment_user.username }}</span>
                        <time class="submit-date">({{ comment.created_time }})</time>
                        <div class="text">
                          {{ comment.text|safe }}<a href="javascript:reply({{ comment.pk }})">回复</a>
                        </div>

                        </li>
                        <div class="reply">
                            {% for reply in comment.reply_root.all %}
                            {{ reply.comment_user.username }}({{ reply.created_time }})回复{{ reply.reply_to.username }}
                            {{ reply.text|safe }}
                                <a href="javascript:reply({{ reply.pk }})">回复</a>
                            {% endfor %}
                        </div>
                      {% empty %}
                      暂无评论
                      {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">评论</div>
            <div class="panel-body" id="comment">
                <div class="comment">
                    {% if user.is_authenticated %}
                    <form id="comment_form" class="comment-form">
                    {% csrf_token %}
                        <div id="comment_list">
                            {% for field in comment_form %}
                            {{ field }}
                            {% endfor %}
                        </div>
                    <span id="comment_error" class="text-danger">{{ comment_form.errors }}</span>
                    <button type="submit" class="comment-btn" style="float: right;">提交评论</button>
                    </form>
                    {% else %}
                        <p>请先登录后再评论</p>
                    {% endif %}
                </div>
            </div>
        </div>

        </div>
        <div class="col-md-4 col-lg-4">
            <div class="panel panel-default">
              <div class="panel-heading">博客分类</div>
              <div class="panel-body">
                <ul class="blog-types">
                    {% for blog_type in blog_types %}
                        <li><a href="{% url 'blog:blog_with_type' blog_type.pk %}">{{ blog_type.type_name }}</a></li>
                    {% empty %}
                        <li>暂无分类</li>
                    {% endfor %}
                </ul>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading">博客目录结构</div>
              <div class="panel-body">
                  <ul class="blog-types">
                    {{ blog_toc|safe }}
                  </ul>
              </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block script_extends %}
    <script type="text/javascript">
        $("#comment_form").submit(function () {
            // 判断数据是否为空
            $("#comment_error").text('');
            if(CKEDITOR.instances['id_comment'].document.getBody().getText().trim() == ''){
                $("#comment_error").text('评论内容为空');
                return false;
            }

            // 异步提交数据到textarea
            CKEDITOR.instances['id_comment'].updateElement();
            // 异步提交
            $.ajax({
                type: 'POST',
                url: "{% url 'comment:blog_comment' %}",
                data: $(this).serialize(),
                cache: false,
                success: function (data) {
                    console.log(data);
                    if(data['status']=='success'){
                        // 插入数据
                        var comment_html = '<div>' + data['username'] + '(' + data['comment_time'] + ')'
                                            + ':' + data['text'] + '</div>';
                        $("#comment_list").prepend(comment_html);
                        // 清空编辑框的内容
                        CKEDITOR.instances['id_comment'].setData('');
                    }else{
                        $("#comment_error").text(data['message']);
                    }

                },
                error: function (xhr) {
                    console.log(xhr);
                    return false;
                }
            });

        })

        function reply(reply_comment_id) {
          $('#reply_comment_id').val(reply_comment_id);
          $('html').animate({scrollTop: $('#comment_form').offset().top - 60}, 300, function () {
              CKEDITOR.instances['id_text'].focus();
          })
        }
        
        function likeChange(obj, content_type, object_id) {
            var is_like = obj.getElementsByClassName('active').length == 0
            $.ajax({
                url: '{% url 'likes:like_change' %}',
                type:'GET',
                data: {
                    content_type: content_type,
                    object_id: object_id,
                    is_like: is_like
                },
                cache: false,
                success:function (data) {
                    console.log(data)
                    if (data['status'] == 'success'){
                        // 更新点赞状态
                        var element = $(obj.getElementsByClassName('glyphicon'))
                        if(is_like){
                            element.addClass('active')
                        }else{
                            element.removeClass('active')
                        }
                        // 更新点赞数
                        var like_num = $(obj.getElementsByClassName('liked_num'))
                        like_num.text(data['like_num'])
                    }else{
                        alert(data['message'])
                    }

                },
                error: function (xhr) {
                    console.log(xhr)
                }
            })
        }
    </script>
{% endblock %}



