{% extends 'base.html' %}

{% block title %}
    {{ blog.title }}
{% endblock %}

{% load staticfiles %}
{% block header %}
    <link rel="stylesheet" href="{% static 'blog.css' %}">
{% endblock %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">博客详情</div>
            <div class="panel-body">
                <div class="blog">
                    <a href="{%  url 'blog:blog_detail'  blog.pk %}">
                        <h3>{{ blog.title }}</h3>
                    </a>
                    <p class="blog-info glyphicon glyphicon-userglyphicon glyphicon-paperclip">
                        <a href="{% url 'blog:blog_with_type' blog.blog_type.id  %}">{{ blog.blog_type }}</a>
                    </p>
                    <p class="blog-info glyphicon glyphicon-userglyphicon glyphicon-user" aria-hidden="true">{{ blog.author }}</p>
                    <p class="blog-info glyphicon glyphicon-userglyphicon glyphicon-time">{{ blog.created_time|date:"Y-m-d H:n:s" }}</p>
                    <!--增加safe过滤器,表示不需要转义,直接显示原始内容-->
                    <p>{{ blog.content | safe }} </p>
                </div>
            </div>
        </div>
        </div>
        <div class="col-md-4 col-lg-4">
            <div class="panel panel-default">
              <div class="panel-heading">博客分类</div>
              <div class="panel-body">
                <ul class="blog-types">
                    {% for blog_type in blog_types %}
                        <li><a href="{% url 'blog:blog_with_type' blog_type.pk %}">{{ blog_type.type_name }}</a></li>
                    {% empty %}
                        <li>暂无分类</li>
                    {% endfor %}
                </ul>
              </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}




