<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>
    <div>
        <a href="{% url 'home' %}">
            <h3>我的博客</h3>
        </a>
        <a href="/">首页</a>
        <a href="{% url 'blog:blog_list' %}">博客</a>
    </div>
    <hr>
    {% block content %}
    {% endblock %}
</body>
</html>